.banner-one {
  height: 30em;
  width: 100vw;
  background-color: white;
  background-repeat: repeat-x;
  position: relative;
  object-fit: cover;
  overflow: hidden;
  white-space: nowrap;
  margin: 12rem 0;
}


.bannertext-one {
  display: flex;
  /* position:relative; */
  width: 100%;
  background-color: white;
  color: var(--prime-fn-clr);
  font-size: 8em;
  justify-content: center;
}

.banner-one img {
  height: 100%;
  position: absolute;
  /* animation-name: bannerslide;
    animation-duration: infinite;
    animation-direction: reverse; */
  animation: bannerslide-one 12s linear infinite;
}

.bannertext-one p {
  font-size: 6rem;
  transform: translateY(50px);
  line-height: 5.5rem;
}

@keyframes bannerslide-one {
    from { transform: translateX(-85%); }

    to { transform: translateX(90%); }
  }

.banner-two {
  height: 30em;
  width: 100vw;
    background-color: white;
  background-repeat: repeat-x;
  position: relative;
  object-fit: cover;
  overflow: hidden;
  white-space: nowrap;
  margin: 5rem 0;
}


.bannertext-two {
  display: flex;
  /* position:relative; */
  width: 100%;
  background-color: white;
  font-size: 8em;
  justify-content: center;
}

.banner-two img {
  height: 100%;
  position: absolute;
  /* animation-name: bannerslide;
    animation-duration: infinite;
    animation-direction: reverse; */
  animation: bannerslide-two 17s linear infinite;
}

@keyframes bannerslide-two {
  from { transform: translateX(85%); }

    to { transform: translateX(-90%); }
  
}

.bannertext-two p {
   flex-direction: column;
  font-size: 6rem;
    transform: translateY(50px);
   line-height: 5.5rem;
   text-transform: uppercase;
}


.banner-three {
  height: 30em;
  width: 100vw;
  background-color: white;
  background-repeat: repeat-x;
  position: relative;
  object-fit: cover;
  overflow: hidden;
  white-space: nowrap;
}


.bannertext-three {
  display: flex;
  /* position:relative; */
  width: 100%;
  background-color: var(--ath-bg-cl);
  color: var(--prime-fn-clr);
  font-size: 8em;
  justify-content: center;
}

.banner-three img {
  height: 100%;
  position: absolute;
  /* animation-name: bannerslide;
    animation-duration: infinite;
    animation-direction: reverse; */
  animation: bannerslide-three 25s linear infinite;
}

@keyframes bannerslide-three {
  from {
    left: 100%;
  }

  to {
    left: -100%;
  }
}

.bannertext-three p {
  transform: translateY(200px);
}




@media (max-width: 768px) {
  .banner-one {
    width: 100%;
    background-color: white;
    background-repeat: repeat-x;
    position: relative;
    object-fit: cover;
    overflow: hidden;
    white-space: nowrap;
    margin: 4em 0.2em;
    padding: 2rem 0;
  }

  .bannertext-one {
    display: flex;
    /* position:relative; */
    width: 100%;
    background-color: white;
    color: var(--prime-fn-clr);
    font-size: 2em;
    justify-content: center;
  }

  .banner-one img {
    height: 100%;
    position: absolute;
    /* animation-name: bannerslide;
    animation-duration: infinite;
    animation-direction: reverse; */
    animation: bannerslide-one 11s linear infinite;
  }

  .bannertext-one p {
    font-size: 2rem;
    transform: translateY(50px);
    line-height: 5.5rem;
  }

  @keyframes bannerslide-one {
    from { transform: translateX(-62%); }

    to { transform: translateX(55%); }
}
  .banner-two {
    width: 100%;
    background-color: white;
    background-repeat: repeat-x;
    position: relative;
    object-fit: cover;
    overflow: visible;
    white-space: nowrap;
    margin-top: 4rem;
  }

  .bannertext-two {
    display: flex;
    /* position:relative; */
    width: 100%;
    background-color: white;
    font-size: 1em;
    justify-content: center;
  }

.banner-two img {
    height: 100%;
    width: 100;
    position: relative;
    animation: bannerslide-two 12s linear infinite;
}

@keyframes bannerslide-two {
    from {
        transform: translateX(45%);
    }
    to {
        transform: translateX(-50%);
    }
}


  .bannertext-two p {
    transform: translateY(200px);
  }

.banner-three {
  width: 100vw;
  background-color: white;
  background-repeat: repeat-x;
  position: relative;
  object-fit: cover;
  overflow: hidden;
  white-space: nowrap;
}


.bannertext-three {
  display: flex;
  /* position:relative; */
  width: 100%;
  background-color: var(--ath-bg-cl);
  color: var(--prime-fn-clr);
  font-size: 8em;
  justify-content: center;
}

.banner-three img {
  height: 100%;
  position: absolute;
  /* animation-name: bannerslide;
    animation-duration: infinite;
    animation-direction: reverse; */
  animation: bannerslide-three 7s linear infinite;
}

@keyframes bannerslide-three {
  from {
    left: -100%;
  }

  to {
    left: 100%;
  }
}

.bannertext-three p {
  transform: translateY(200px);
}



.banner-four{
padding: 2rem;
}

.banner-four h5 {
  font-size: 2.2em;
}
.banner-four p {
  font-size: 1em;
}

.banner-five {
 display: none;
}

}