#modal {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    /* background-color: rgba(0,0,0,0.5); */
    /* display: flex; */
    display: none;
    justify-content: center;
    align-items: center;
}

#modalContent {
    background-color: white;
    max-width: 600px;
    position: relative;
}

#gallery {
    display: flex;
    max-width: 100vw;
    height: 30rem;
    justify-content: center;
    margin: 10rem;
}

#gallery img {
    max-width: 100%;
    height: auto;
    object-fit: cover;
    cursor: pointer;
    /* opacity: 0.5; */
}

/* #gallery img {
    max-width: 200px;
    cursor: pointer;
    opacity: 0.5;
} */
/* #gallery img:hover {
    opacity: 1;
    transform: scale(1.5); 
}*/


#bigImage {
    max-width: 100%;
    vertical-align: center;
}

#closeButton {
    position: absolute;
    top: -12px;
    right: -12px;
    background-color: rgb(12, 27, 112);
    border: 3px solid #666;
    font-family: 'ZeitungPro-Black-_1_';
    width: 20px;
    height: 20px;
    text-align: center;
    line-height: 22px;
    border-radius: 50%;
    box-shadow: 3px 3px 5px #000;
    font-weight: bold;
    cursor: pointer;
    user-select: none;
}

#closeButton:hover {
    background-color: #666;
    color: white;
}

#closeButton:active {
    box-shadow: none;
    top: -9px;
    right: -15px;
}


.mainpagegallerie {
    display: flex;
    flex-basis: 1;
    flex-grow: 45%;
    max-width: 100vw;
    height: 30rem;
    justify-content: center;
    margin: 10rem;
}

.mainpagegallerie img {
    border-top: 10px solid var(--orange-for);
    max-width: 100%;
    height: auto;
    object-fit: cover;
    cursor: pointer;
    transition: transform 0.3s ease;
    padding-bottom: 6em;
}

.mainpagegallerie img:hover {
    transform: scale(1.5);
    /* Skaliert das Bild auf das 1,5-fache */
    cursor: pointer;
}


.roastJourney {
    display: flex;
    max-width: 100vw;
}

.roastJourney img {
    margin: auto;
}


.galleryRoastingSubsection {
    display: flex;
    width: 95vw;
    border: thick;
    border-color: black;
    margin: 0 auto: 
    background-color: red;
}


.galleryRoastingSubsection {
  

}

.galleryRoastingSubsection img {}


@media (max-width: 768px) {

    .mainpagegallerie {
        display: flex;
        flex-wrap: wrap;
        max-width: 90%;
        height: auto;
        margin: 10px;
    }

    .mainpagegallerie img {
        max-width: 50%;
        height: auto;
        object-fit: cover;

    }

}