.seminarGalleryRoastingSubsection {
    display: flex;
    width: 95vw;
    border: thick;
    border-color: black;
    margin: 0 auto;
    background-color: red;
}


.seminarGalleryRoastingSubsection {
  

}

.seminarGalleryRoastingSubsection img {


}

.seminarKalenderWidget{
    
}